body {
    margin:  0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 3em;
/*     background: #f7f7f7; */
}


.hero {
    background: #f7f7f7;
}

.hero-company-detail {
    height: 100vh;
}

.company-logo {
    font-family: 'Audiowide', cursive;
    font-size: 5rem
}

.company-logo p {
    margin: 0;
}

.title-content {
    width: 90%;
    margin: 0 auto;
}

.sub-title {
    width: 80%;
}

.button-container {
    text-align: left;
}

.btn-pri {
    position: relative;
/*     box-sizing: content-box !important;; */
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 8px;
    background: blue;
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: white;
/*     font-weight: 600; */
    font-size: 1.3rem;
    text-decoration: none;
    height: 2.8rem;
    line-height: 1;
    z-index: 0;
    margin: 0 1em;
}

.btn-pri:focus, .btn-pri:active, .btn-pri:visited {
    text-decoration: none;
    color: white;
}

.contact-us-btn {
    background: linear-gradient(to right, #02aab0, #00cdac);
}

/* .btn-pri::after {
    position: absolute;
    top: 0;
    right: -1.25rem;
    content: " ";
    background: inherit;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    z-index: -2;
}

.btn-pri::before {
    position: absolute;
    top: 0;
    left: -1.25rem;
    content: " ";
    background: inherit;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    z-index: -1;
} */

.section-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
}

.services {
    width: 95%;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 15px 44px 0 rgba(0,0,0,.05);
    box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.39);
}

.service {
    min-height: 24rem;
    background: white;
    border-radius: 10px;
    color: #444444;
    margin-bottom: 1em;
    padding: 2em 1em;
}

.service-illus {
    display: block;
    width: 40%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.service-title {
    text-align: center;
    font-size: 2rem;
}

.service-content {
    text-align: center;
    line-height: 1.8;
    padding: 0 1.5em 0 1.5em;
}

.serv-det-desc {
    height: 100vh;
    background: white;
    margin-top: 3em;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.39);
}

.serv-det {
    padding: 0 2em;
}

.serv-det .section-title {
    margin-bottom: 0;
    text-align: left;
}

.serv-detail-cnt {
    line-height: 1.8;
    font-size: 1.1rem;
}

.serv-det .btn-pri {
    margin: 0;
}