body {
    margin:  0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 3em;
/*     background: #f7f7f7; */
    width: 100%;
    overflow-x: hidden;
}


.hero {
    position: relative;
    background: black;
    overflow: hidden;
}

.hero-company-detail {
    height: 100vh;
    color: white;
}

.company-logo {
    font-family: 'Audiowide', cursive;
    font-size: 5rem;
    text-transform: uppercase;
}

.company-logo p {
    margin: 0;
}

.title-content {
    width: 90%;
    margin: 0 auto;
    z-index: 0;
}

.bg-pat {
    position: absolute;
    top: 10%;
    left: 25%;
    height: 150vh;
    width: 120%;
    border-radius:120px;
    background: linear-gradient(180deg, #0A1792 0%, #0C30EF 100%);
    transform-origin: left top;
    transform: rotate(24deg);
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.hero-hand-img {
    position: absolute;
    top: 0;
    left: 20%;
    width: 25%;
    height: auto;
}

.sub-title {
    width: 80%;
}

.button-container {
    text-align: left;
}

.btn-pri {
    position: relative;
    display: inline-block;
    padding: 0.5em 1.5em;
    border-radius: 8px;
    background: blue;
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    height: 2.8rem;
    line-height: 1;
    z-index: 0;
    margin-right: 1em;
}

.btn-pri:focus, .btn-pri:active, .btn-pri:visited {
    text-decoration: none;
    color: white;
}

.contact-us-btn {
    background: linear-gradient(to right, #02aab0, #00cdac);
}

/* .btn-pri::after {
    position: absolute;
    top: 0;
    right: -1.25rem;
    content: " ";
    background: inherit;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    z-index: -2;
}

.btn-pri::before {
    position: absolute;
    top: 0;
    left: -1.25rem;
    content: " ";
    background: inherit;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    z-index: -1;
} */

.section-title {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
}

.services {
    width: 95%;
    margin: 0 auto;
    background: white;
    border: 1px solid #d1d5da;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 15px 44px 0 rgba(0,0,0,.05);
    box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.39);
}

.service {
    min-height: 5rem;
    background: white;
    border-radius: 10px;
    color: #444444;
    padding-top: 1em;
    padding-bottom: 1em;
}

.service-illus {
    display: block;
    width: 12%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}

.service-title {
    text-align: center;
    font-size: 2rem;
    margin: 0 0;
    font-weight: 600;
}

.service-content {
    text-align: center;
    line-height: 1.8;
    padding: 0 1.5em 0 1.5em;
}

.service-in-detail {
    margin-top: 3em;
    border: 1px solid #d1d5da;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 12px 32px -12px rgba(0, 0, 0, 0.39);
}

.service-in-detail .section-title {
    font-size: 2.5rem;
}

.serv-det-desc {
    height: 100vh;
    background: white;
    border-radius: 10px;
}

.serv-det {
    padding: 0 2em;
}

.serv-det .section-title {
    margin-bottom: 0;
    text-align: left;
}

.serv-detail-cnt {
    line-height: 1.8;
    font-size: 1.1rem;
    padding-right: 1em;
    text-align: justify;
}

.serv-det .btn-pri {
    margin: 0;
}

.serv-det-illus {
    height: 100vh;
    overflow: hidden;
    background: #d1d5da;
}

.service-in-detail .serv-det-illus:nth-of-type(2n) {
    border-radius: 0 10px 10px 0;
}

.service-in-detail .serv-det-illus:nth-of-type(2n + 1) {
    border-radius: 10px 0 0 10px;
}

.serv-det-illus img {
    width: 70%;
    height: auto;
    border-radius: 10px;
}

.serv-det-illus.workshops img{
    height: 90%;
    width: auto
}
